.page {
  max-width: 1600px;
  width: 100vw;
  padding: 40px 45px;
  box-sizing: border-box;

  background-color: #dac9b0;

  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .page {
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {
  .page {
    font-size: 16px;
  }
}
