.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.header__navigation-icon {
  height: 60px;
  width: 60px;
  margin: 0 20px 0 0;

  transition: opacity linear 0.2s;
}

.header__navigation-icon:hover {
  opacity: 0.4;
}

.header__link-main {
  text-decoration: none;
  color: #000;
  margin: 0 auto;

  transition: transform linear 0.2s;
}

.header__link-main:hover {
  transform: scale(1.2);
}

.header__link-profile {
  text-decoration: none;
  color: #000;

  display: flex;
  align-items: center;
  gap: 20px;

  transition: opacity linear 0.2s;
}

.header__link-profile:hover {
  opacity: 0.4;
}

.header__username {
  margin: 0;
}

.header__avatar {
  height: 60px;
  width: 60px;
}
